{% extends "base.html.twig" %}

{% block title %}Book{% endblock %}

{% block body %}
<div class="book">
    <h1>Update book</h1>
    <h3>{{ book.id }}</h3>
    <form action="{{ path('book_update', { 'id': book.id }) }}" method="POST" class="book-form">
        <div>
            <label for="title">Title</label>
            <input required id="title" name="title" type="text" value="{{ book.title }}">
        </div>
        <div>
            <label for="author">Author</label>
            <input required id="author" name="author" type="text" value="{{ book.author }}">
        </div>
        <div>
            <label for="isbn">ISBN</label>
            <input required id="isbn" name="isbn" type="number" value="{{ book.isbn }}">
        </div>
        <div>
            <label for="image">Image</label>
            <input required id="image" name="image" type="text" value="{{ book.image }}">
        </div>
        <button type="submit">Update Book</button>
    </form>
</div>

{% endblock %}
